<a href="https://colab.research.google.com/github/zfukuoka/Training-KikaiGakusyuZukan/blob/master/Chap3_11_LSA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 第3章 教師なし学習

## 11 LSA(Latent Semantic Analysis)

ポイント

* PCAと同じく次元圧縮ではあるもの、NLPを主体としている
* 言語と言っても必ずインデックスに置き換えのは前提
* 自然言語で同じものの別の言い回しのようなものを特徴としてまとめることができるらしい

コードのdata変数は、文章1～4とあってその中に含まれる言葉を0（なし）と1（あり）で表したもの。

|  | 文章1 | 文章2 | 文章3 | 文章4 |
| ---- | ---- | ---- | ---- | ---- |
| 自動車     |1 |0 |0 |0 |
| 会社       |1 |0 |0 |0 |
| 行く       |1 |1 |0 |0 |
| 車         |0 |1 |0 |0 |
| レストラン |0 |0 |1 |1 |
| ハンバーグ |0 |0 |1 |0 |
| 食べる     |0 |0 |1 |1 |
| パスタ     |0 |0 |0 |1 |

In [1]:
from sklearn.decomposition import TruncatedSVD

data = [
        [1,0,0,0],
        [1,0,0,0],
        [1,1,0,0],
        [0,1,0,0],
        [0,0,1,1],
        [0,0,1,0],
        [0,0,1,1],
        [0,0,0,1]
]

n_components = 2 # 潜在変数の数
model = TruncatedSVD(n_components=n_components)
model.fit(data)

print(model.transform(data))
print(model.explained_variance_ratio_)
print(sum(model.explained_variance_ratio_))

[[ 0.00000000e+00  8.50650808e-01]
 [ 0.00000000e+00  8.50650808e-01]
 [-1.35973996e-15  1.37638192e+00]
 [-1.35973996e-15  5.25731112e-01]
 [ 1.41421356e+00  1.01096131e-15]
 [ 7.07106781e-01  6.06576787e-16]
 [ 1.41421356e+00  1.01096131e-15]
 [ 7.07106781e-01  4.04384525e-16]]
[0.38596491 0.27999429]
0.665959206583328

またしても、上記のサンプルコードだけではよくわからないので、可視化する。
結局、潜在的な意味空間で表した単語の特徴量は、 model.transform() の結果に入っている。
そうすると本の中にもあった表が下記のように表示できる

In [6]:
import pandas as pd

pd.options.display.float_format = '{:.2f}'.format
X = pd.DataFrame(model.transform(data))
X

      0    1
0  0.00 0.85
1  0.00 0.85
2 -0.00 1.38
3 -0.00 0.53
4  1.41 0.00
5  0.71 0.00
6  1.41 0.00
7  0.71 0.00